/* dashboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

button, select {
    margin-top: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: #45a049; /* Darker green */
}

#total-price {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
    max-width: 1200px; /* Control the maximum width */
    margin: auto;
}

.rides-section, .cart-section, .tickets-section, .today-ticket-section {
    border: 2px solid #ccc; /* Border around sections */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for sections */
    background-color: #f9f9f9; /* Light grey background */
}

.rides-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.cart-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tickets-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.today-ticket-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.logout-button {
    padding: 10px 20px;
    background-color: #f44336; /* Red color for the logout button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width */
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker shade on hover */
}
